body {
    font-family: 'Georgia', Arial, sans-serif;
    font-size: 14px;
    color: #f8f9fa;
    cursor: url('images/cursor_m1.png'), auto;
}

/* ekran z informacjami o mobie */
.mob_info_container {
    width: 650px;
    height: 900px;
    margin: 10px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
    background-image: url('images/window_background.png'); 
    background-size: 100% 100%;
    justify-self: center;
}

.upper_label_img {
    width: 650px;
    height: 30px;
    background-image: url('images/gorny_pasek_z_x.png'); 
    background-size: 100% 100%;
}

.mob_life_bar_column_container { /*do podziału na poszczególne elementy grafiki wraz z containerem na nazwę moba */
    width: 450px;
    height: 50px;
    margin: 0px;
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.mob_life_left_side_img {
    width: 75px;
    height: 50px;
    background-image: url('images/life_bar_left_side.png'); 
    background-size: 100% 100%;
    justify-self: center;
}

.mob_life_right_side_img {
    width: 75px;
    height: 50px;
    background-image: url('images/life_bar_right_side.png'); 
    background-size: 100% 100%;
    justify-self: center;
}

.mob_life_bar_middle_column_container {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.mob_life_bar_name_and_lvl_label {
    width: 300px;
    height: 30px;
    background-image: url('images/life_bar_name_and_lvl_label.png'); 
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.mob_life_bar_container {
    width: 300px;
    height: 20px;
    background-image: url('images/life_bar.png');
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
}

.mob_info_column_container {
    width: 650px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-self: center;
}

.mob_info_column_container_fade_out {
    width: 650px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1; /* Ensure it appears above the image */
    position: relative; /* Ensure the overlay is positioned relative to this container */
}

.travelling_destination_map_container {
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: #06060d;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
    justify-self: center;
}

.travelling_label_container {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.travelling_label_text {
    width: 400px;
    display: flex;
    padding: 1px;
    justify-content: center;
    align-items: center;
    color: #FFF0C8;
    font-size: 28px;
    font-weight: bold;
}

.travelling_time_container {
    width: 75px;
    height: 75px;
    display: flex;
    padding: 1px;
    justify-content: center;
    align-items: center;
    color: #FFF0C8;
    font-size: 28px;
    font-weight: bold;
}


.mob_life_bar_img img {
    width: 300px; 
    height: 50px; 
}

.mob_img_and_minimap_container {
    display: flex;
    width: 250px;
    height: 220px;
    justify-self: center;
}

.mob_img_container {
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 180px;
    height: 220px;
    background-color: #06060d;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
    justify-self: center;
}

.minimap_img_container {
    margin-top: 10px;
    width: 135px;
    height: 127px;
    display: flex;
    background-color: #06060d;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
}

.minimap_img_container img {
    display: flex;
    padding: 1px;
    width: 125px;
    height: 125px;
}

/* ekran przechowujący informacje o mobie */
.mob_ele_info_container {
    display: flex;
    margin: 10px;
    padding: 5px;
    height: 180px;
    width: 525px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
    justify-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

.mob_stat_container {
    width: 150px;
    height: 45px;
    margin: 0px;
    padding: 5px;
    color: #FFF0C8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-self: center;
}

.mob_stat_label {
    width: 100px;
    height: 25px;
    line-height: 25px;
    margin: 5px;
    padding: 5px;
    color: #ffffff;
    background-image: url('images/black_label_small.png');
    background-size: 100% 100%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Optional for better text visibility */
}

/* sekcja przechowująca pola dot. elemental dg and resis */
.mob_ele_group_container {
    margin: 0px;
    padding: 0px;
    height: 80px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mob_ele_name {
    width: 45px;
    height: 30px;
    margin: 5px;
    padding: 0px;
    text-align: center;
    color: #FFF0C8;
    align-content: flex-end;
}


.mob_ele_dmg_resis_label {
    width: 45px;
    margin: 5px;
    padding: 0px;
    text-align: center;
    color: #FFF0C8;
}

.mob_ele_damage_value {
    width: 45px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    padding: 0px;
    text-align: center;
    color: #ffffff;
    background-image: url('images/black_label_small.png'); 
    background-size: 100% 100%;
    align-content: center;
}

.mob_ele_resis_value {
    width: 45px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    padding: 0px;
    text-align: center;
    color: #ffffff;
    background-image: url('images/black_label_small.png'); 
    background-size: 100% 100%;
    align-content: center;
}

/* sekcja przechowująca pola dot. material drop */
.mob_material_info_container {
    display: flex;
    margin: 10px;
    padding: 5px;
    height: 180px;
    width: 525px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
    justify-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

.mob_material_drop_group_container {
    margin: 0px;
    padding: 0px;
    height: 80px;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mob_material_drop_type_label {
    width: 125px;
    margin: 5px;
    padding: 0px;
    text-align: left;
    color: #FFF0C8;
    align-content: center
}

.mob_drop_img {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0px;
    text-align: center;
    color: #ffffff;
    align-content: center;
}

/* sekcja przechowująca pola dot. accessories drop */
.mob_accessories_info_container {
    display: flex;
    margin: 10px;
    padding: 5px;
    height: 105px;
    width: 525px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
    color: #FFF0C8;
    justify-self: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


.mob_accessories_container {
    margin: 0px;
    padding: 0px;
    height: 80px;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mob_accessories_drop_img {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0px;
    text-align: center;
    color: #ffffff;
    align-content: center;
}