body {
    font-family: 'Sylfaen', Arial, sans-serif;
    font-size: 14px;
    color: #f8f9fa;
    background-color: #050a11;
    background-image: url('images/deseń.png'); 
    background-size: contain;
    cursor: url('images/cursor_m1.png'), auto;
}

header {
    height: 50px;
    background-image: url('images/archlord-logo.jpg');
    background-size: contain;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.main_container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 1800px;
}

/* dwie główne sekcje ekranu */
.main_container .left_section {
    margin: 5px;
    padding: 5px;
    width: 900px;
    height: 1190px;
    background-color: #0f121a;
    border: 1px solid #a7a7a7;
    outline: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 5px 10px #7a817a;
}

.main_container .right_section {
    margin: 5px;
    width: 900px;
    height: 1200px;
    background-color: #0f121a;
    border: 1px solid #a7a7a7;
    outline: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 5px 10px #7a817a;
}


/* sekcje lewego ekranu */
.main_container .left_section .top_section {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 10px;
    padding: 5px;
    width: 870px;
    height: 150px;
    background-color: #06060d;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
}

.top_section_row_container {
    width: 870px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
}

.top_section_container {
    width: 300px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
}

.top_section_label {
    width: 150px;
    height: 25px;
    line-height: 25px;
    margin: 5px;
    padding: 5px;
    color: #ffffff;
    background-image: url('images/black_label_small.png'); 
    background-size: 100% 100%;
    justify-self: center;
    display: flex;
    justify-content: center;
}


.main_container .left_section .middle_section {
    display: flex;
    margin: 10px;
    width: 880px;
    height: 750px;
}

.middle_section_main_container {
    width: 880px;
    height: 700px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
    background-image: url('images/window_background.png'); 
    background-size: 100% 100%;
}

.middle_section_upper_label_img {
    width: 880px;
    height: 30px;
    background-image: url('images/gorny_pasek_z_x.png'); 
    background-size: 100% 100%;
}

.middle_section_column_container {
    width: 880px;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-self: center;
}

.middle_section_menu_container {
    width: 175px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-self: center;
}

.menu_container {
    width: 175px;
    height: 670px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0 1px 4px #7a817a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-self: center;
    background-image: url('images/window_background.png'); 
    background-size: 100% 100%;
}

.menu_name_label_container {
    width: 100px;
    height: 25px;
    line-height: 25px;
    margin: 30px;
    padding: 5px;
    color: #FFF0C8;
    font-size: 20px;
    background-image: url('images/black_label_small.png'); 
    background-size: 100% 100%;
    justify-self: center;
    display: flex;
    justify-content: center;
}

.menu_options_container {
    width: 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-self: center;
}

.menu_option_label_container {
    width: 100px;
    height: 25px;
    line-height: 25px;
    margin: 2px;
    padding: 5px;
    color: #ffffff;
    background-image: url('images/button.png'); 
    background-size: 100% 100%;
    justify-self: center;
    display: flex;
    justify-content: center;
    transition: background 0.3s ease, background-blend-mode 0.3s ease;
    background-blend-mode: normal;
}

.menu_option_label_container:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)), url('images/button.png');
    background-size: 100% 100%;
    background-blend-mode: lighten;
}

.middle_section_opened_menu_option_container {
    width: 765px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-self: center;
}


/* dolna sekcja lewego ekranu */
.main_container .left_section .bottom_section {
    display: flex;
    margin: 10px;
    padding: 5px;
    width: 870px;
    height: 200px;
    background-color: #06060d;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
}


/* sekcje prawego ekranu */
.main_container .right_section .monster_type_label {
    /* width: 970px; */
    height: 75px;
    line-height: 75px;
    margin: 10px;
    padding: 5px;
    background-image: url('images/black_label.png'); 
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.monster_type_container {
    width: 130px;
    height: 50px;
    line-height: 50px;
    margin: 5px;
    padding: 5px;
    background-image: url('images/button.png'); 
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease, background-blend-mode 0.3s ease;
    background-blend-mode: normal;
}

.monster_type_container:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)), url('images/button.png');
    background-size: 100% 100%;
    background-blend-mode: lighten;
}

.normal_mob {
    color: #ffffff;
}

.normal_boss {
    color: #BDA66B;
}

.unique_boss {
    color: #BD806B;
}

.elemental_mob {
    color: #FFFF00;
}

.battleground_mob {
    color: #adff2f;
}

.main_container .right_section .spawn_lvl_label {
    width: 600px; 
    height: 50px;
    line-height: 50px;
    margin: 10px;
    padding: 5px;
    background-image: url('images/black_label.png'); 
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-self: center;
}


.spawn_lvl_container {
    width: 80px;
    height: 35px;
    line-height: 35px;
    margin: 5px;
    padding: 5px;
    background-image: url('images/button.png'); 
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease, background-blend-mode 0.3s ease;
    background-blend-mode: normal;
}

.spawn_lvl_container:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)), url('images/button.png');
    background-size: 100% 100%;
    background-blend-mode: lighten;
}

.spawn_lvl {
    color: #ffffff;
}

.spawn_lvl_change_button_left {
    width: 20px;
    height: 20px;
    margin: 5px;
    padding: 5px;
    background-image: url('images/arrow_left.png'); 
    background-size: 100% 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease, background-blend-mode 0.3s ease;
    background-blend-mode: normal;
}

.spawn_lvl_change_button_left:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)), url('images/arrow_left.png');
    background-size: 100% 100%;
    background-blend-mode: lighten;
}

.spawn_lvl_change_button_right {
    width: 20px;
    height: 20px;
    margin: 5px;
    padding: 5px;
    background-image: url('images/arrow_right.png'); 
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease, background-blend-mode 0.3s ease;
    background-blend-mode: normal;
}

.spawn_lvl_change_button_right:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)), url('images/arrow_right.png');
    background-size: 100% 100%;
    background-blend-mode: lighten;
}


/* ekran z informacjami o mobie */
.mob_info_container {
    width: 650px;
    height: 900px;
    margin: 10px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
    background-image: url('images/window_background.png'); 
    background-size: 100% 100%;
    justify-self: center;
}

.upper_label_img {
    width: 650px;
    height: 30px;
    background-image: url('images/gorny_pasek_z_x.png'); 
    background-size: 100% 100%;
}

.mob_life_bar_img { /*do podziału na poszczególne elementy grafiki wraz z containerem na nazwę moba */
    width: 600px;
    height: 50px;
    margin: 0px;
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.mob_info_column_container {
    width: 650px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-self: center;
}

.mob_life_bar_img img {
    width: 300px; 
    height: 50px; 
}

.mob_img_and_minimap_container {
    display: flex;
    width: 230px;
    height: 220px;
    justify-self: center;
}

.mob_img_container {
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 180px;
    height: 220px;
    background-color: #06060d;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
    justify-self: center;
}

.minimap_img_container {
    margin-top: 10px;
    width: 135px;
    height: 127px;
    display: flex;
    background-color: #06060d;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
}

.minimap_img_container img {
    display: flex;
    padding: 1px;
    width: 125px;
    height: 125px;
}

/* ekran przechowujący informacje o mobie */
.mob_ele_info_container {
    display: flex;
    margin: 10px;
    padding: 5px;
    height: 180px;
    width: 525px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
    justify-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

.mob_stat_container {
    width: 150px;
    height: 45px;
    margin: 0px;
    padding: 5px;
    color: #FFF0C8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-self: center;
}

.mob_stat_label {
    width: 100px;
    height: 25px;
    line-height: 25px;
    margin: 5px;
    padding: 5px;
    color: #ffffff;
    background-image: url('images/black_label_small.png'); 
    background-size: 100% 100%;
    justify-self: center;
    display: flex;
    justify-content: center;
}

/* sekcja przechowująca pola dot. elemental dg and resis */
.mob_ele_group_container {
    margin: 0px;
    padding: 0px;
    height: 80px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mob_ele_name {
    width: 45px;
    height: 30px;
    margin: 5px;
    padding: 0px;
    text-align: center;
    color: #FFF0C8;
    align-content: flex-end;
}


.mob_ele_dmg_resis_label {
    width: 45px;
    margin: 5px;
    padding: 0px;
    text-align: center;
    color: #FFF0C8;
}

.mob_ele_damage_value {
    width: 45px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    padding: 0px;
    text-align: center;
    color: #ffffff;
    background-image: url('images/black_label_small.png'); 
    background-size: 100% 100%;
    align-content: center;
}

.mob_ele_resis_value {
    width: 45px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    padding: 0px;
    text-align: center;
    color: #ffffff;
    background-image: url('images/black_label_small.png'); 
    background-size: 100% 100%;
    align-content: center;
}

/* sekcja przechowująca pola dot. material drop */
.mob_material_info_container {
    display: flex;
    margin: 10px;
    padding: 5px;
    height: 180px;
    width: 525px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
    justify-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

.mob_material_drop_group_container {
    margin: 0px;
    padding: 0px;
    height: 80px;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mob_material_drop_type_label {
    width: 125px;
    margin: 5px;
    padding: 0px;
    text-align: left;
    color: #FFF0C8;
    align-content: center
}

.mob_drop_img {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0px;
    text-align: center;
    color: #ffffff;
    align-content: center;
}

/* sekcja przechowująca pola dot. accessories drop */
.mob_accessories_info_container {
    display: flex;
    margin: 10px;
    padding: 5px;
    height: 105px;
    width: 525px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-shadow: 0 1px 4px #7a817a;
    color: #FFF0C8;
    justify-self: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


.mob_accessories_container {
    margin: 0px;
    padding: 0px;
    height: 80px;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mob_accessories_drop_img {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0px;
    text-align: center;
    color: #ffffff;
    align-content: center;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
